#contents-tab{
    margin-bottom: 20px;
}

#contents-tab .nav-link{
  color: black;
  border-radius: 0%;
  border: 1px solid black;
}

#contents-tab .nav-link.active {
  background-color: #273746;
  color: white;
}