.card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover .card-text {
    display: none;
    transition: 1s;
  }
  
  .card:hover .additional-content {
    display: block;
    transition: 1s;
  }
  
  .additional-content {
    display: none;
    transition: 1s;
  }