.scrolled {
    transition: 2s;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background-color: #18171c;
}

.unscrolled {
    transition: 1s;
}

.link-text {
    color: white;
}