REACT_APP_WHATSAPP=525561652599
REACT_APP_EMAIL=dmejiag.dev@gmail.com
REACT_APP_LINKEDIN=https://www.linkedin.com/in/david-mejia-guzman/
REACT_APP_GITHUB=https://github.com/dxviidmg
REACT_APP_CV_URL_ES=https://docs.google.com/document/d/YOUR_ES_DOCUMENT_ID/export?format=pdf
REACT_APP_CV_URL_EN=https://docs.google.com/document/d/YOUR_EN_DOCUMENT_ID/export?format=pdf
