h2 {
  text-align: center;
  padding-bottom: 20px;
}

.paddings {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#skill-tab,
#project-tab {
  padding-bottom: 30px;
}

.padding-col {
  padding-bottom: 20px;
}
