.paddings{
  height: 90vh;
}

.test1{
  background-color: antiquewhite;
}

.test2{
  background-color: aquamarine;
}
.check{
  height: 90vh;
}

#banner{
  background-color: black;
  color: aliceblue;
}