/* Background test*/
.test1 {
  background-color: antiquewhite;
}

.test2 {
  background-color: aquamarine;
}

/* general*/

body{
  font-family: 'Raleway', sans-serif;
}



h2 {
  text-align: center;
  padding-bottom: 20px;
}

.paddings {
  padding-top: 10vh;
  padding-bottom: 10VH;
}

/* Background*/

#experience,
#projects,
footer {
  background-color: #D5D8DC;
}

/* Nav.Link*/

#skill-tab,
#project-tab {
  padding-bottom: 30px;
}

#project-tab .nav-link,
#skills .nav-link {
  background-color: #D6DBDF;
  color: black;
}

#project-tab .nav-link.active,
#skills .nav-link.active {
  background-color: #ABB2B9;
}

.padding-col {

  padding-bottom: 20px;
}